* {
  box-sizing: border-box;
}

/* common css start */
body {
  font-family: "Playfair Display", serif;
  /* font-family: "Ubuntu", sans-serif;
  font-family: "Inconsolata", monospace; */
  font-size: 16px;
  font-weight: 400;
  color: #626262;
  margin: 0;
  padding: 0;
}
/* common css send */

/* header start */
header {
  padding: 30px 0;
  /* border: 1px solid black; */
}

.container {
  margin: 0 auto;
  width: 90%;
  /* border: 1px solid black; */
  overflow: hidden;
}

.logo {
  margin-top: 11px;
  width: 12%;
  /* border: 1px solid black; */
  float: left;
}

.logo a {
  display: inline-block;
}

.logo a img {
  width: 100%;
}

.menu {
  width: 65%;
  /* border: 1px solid black; */
  float: right;
}

.menu ul {
  list-style: none;
  float: right;
}

.menu ul li {
  float: left;
}

.menu ul li a {
  display: inline-block;
  margin: 0 50px;
  color: #626262;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid transparent;
}

.menu ul li:last-child a {
  margin-right: 0;
}

.menu ul li a:hover {
  color: #b4ad9e;
  border-bottom: 1px solid #b4ad9e;
}
/* header end */

/* banner start */
.banner {
}

.container2 {
  width: 90%;
  margin: 0 auto;
  /* border: 1px solid black; */
}

.container2 .bn_img {
}

.bn_img img {
  width: 100%;
}
/* banner end */

/* getaway start */
.getaway {
  padding: 100px 0 30px;
}

.container3 {
  width: 80%;
  margin: 0 auto;
  /* border: 1px solid black; */
}

.gw_content {
}

.c_light {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  color: #b4ad9e;
}

.c_title {
  margin: 20px 0 30px;
  font-size: 30px;
  font-weight: 400;
}

.c_text {
  margin: 0;
  line-height: 24px;
}

.gw_link {
  font-family: "Ubuntu", sans-serif;
  display: block;
  margin-top: 40px;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  color: #b4ad9e;
  text-decoration: none;
}
/* getaway end */

/* block start */
.blog {
  padding-bottom: 100px;
}

.container4 {
  width: 80%;
  margin: 0 auto;
  /* border: 1px solid black; */
  overflow: hidden;
}

.sb_item {
  margin-top: 70px;
  float: left;
  width: 47%;
  /* border: 1px solid black; */
}

.sb_item:nth-child(even) {
  margin-left: 6%;
}

.sb_img {
  margin-bottom: 20px;
}

.sb_img img {
  width: 100%;
}
/* block end */

/* newsletter start */
.newsletter {
  padding: 70px 0;
  background-color: #f0f0f0;
}

.container5 {
  width: 80%;
  margin: 0 auto;
  /* border: 1px solid black; */
}

.signup {
  text-align: center;
}

.signup h1 {
  margin-top: 0;
  margin-bottom: 70px;
  color: #333333;
}

.s_form {
  position: relative;
  width: 400px;
  margin: 0 auto;
}

.s_form input {
  font-family: "Playfair Display", serif;
  font-size: 14px;
  color: #626262;
  width: 400px;
  height: 45px;
  border-bottom: 1px solid #626262;
  background-color: transparent;
  padding-left: 5px;
  padding-right: 15px;
}

.s_form input:focus {
  outline: 0;
}
.s_form button {
  position: absolute;
  background: transparent;
  border: none;
  cursor: pointer;
  top: 15px;
  right: 0;
}

.s_form button:focus {
  outline: 0;
}

.s_form button img {
}
/* newsletter end */
